.favouriteUser {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-main;
  padding: 10px 10px;
  border: 1px solid $color-main;

  .favouriteUser__button {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: $color-favourite;
    transition: all 0.3s ease;

    &:hover {
      color: $color-black;
      background-color: $color-favourite-active;
    }
  }

  .favouriteUser__button--active {
    color: $color-main;
    background-color: $color-favourite-active;
  }
}