.sidebar {
  grid-area: s;
  border-right: 1px solid $color-black;

  .linkBox {
    padding: 10px 0;

    .link {
      padding: 10px 20px;
      text-decoration: none;
      outline: none;
      transition: all 0.3s ease;
    }
  }
}