.sidebar__container {
  grid-area: s;
  border-right: 1px solid $color-black;

  .sidebar__linkBox {
    padding: 10px 0;

    & a {
      padding: 10px 20px;
      color: $color-text;
      text-decoration: none;
      outline: none;
      transition: all 0.3s ease;
    }

    & a:hover{
      color: $color-headings;
    }

    .activeLink {
      color: $color-active;
    }
  }
}