.editForm__container {
  max-width: 255px;
  width: 100%;
  padding: 20px;
  //border: 1px solid $color-main;
  border-radius: 5px;
  color: $color-main;

  .editForm__heading {
    padding-bottom: 5px;
    border-bottom: 1px solid $color-main;
  }

  .editForm__section:not(:first-child) {
    margin-top: 10px;

    .editForm__input {
      margin-top: 5px;
      width: 240px;
      border: none;
      border-radius: 3px;
      outline: none;
      padding: 5px;
      transition: all 0.5s ease;
    }

    .editForm__radioLabel:not(:first-child) {
      margin: 0 10px;
    }
  }

  .editForm__error {
    padding: 5px;
    color: #ff0000;
  }

  .editForm__inputError {
    background-color: rgba(255, 144, 144, 0.5);
  }

  .editForm__actions {
    margin-top: 15px;

    .editForm__button {
      width: 100%;
      padding: 5px;
      border: none;
      border-radius: 4px;
      outline: none;
      transition: all 0.3s ease;
      background-color: rgba(0, 255, 13, 0.6);

      &:hover {
        background-color: rgb(0, 255, 85);
      }
    }
  }
}