.user__container {
  max-width: 300px;
  width: 100%;
  margin: 0 2% 2% 0;
  flex-direction: column;
  padding: 10px;
  border: 1px solid $color-black;
  border-top: 5px solid $color-main;
  border-radius: 5px;
  background-color: rgba(114, 114, 114, 0.5);
  box-shadow: 2px 2px 10px $color-black;
  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.05);
  }

  &:hover .user__name {
    color: $color-main;
    transform: translateX(15%);
  }

  &:hover .user__age span {
    color: $color-main;
  }

  &:hover .user__info span {
    color: $color-main;
    transform: translateX(-20px);
  }

  .user__nameAge {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-black;

    .user__name {
      flex: 2;
      font-size: 20px;
      transition: all 0.5s ease-out;
    }

    .user__age {
      flex: 1;
      margin: 10px;
      text-align: right;

      & span {
        transition: all 0.5s ease;
      }
    }
  }

  .user__info {
    margin-top: 10px;
    & span {
      transition: all 0.5s ease;

    }
    & p {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
    }
  }

  .user__actions {
    margin-top: 10px;
    text-align: right;
    border-top: 1px solid $color-black;
    padding-top: 7px;

    .user__button {
      margin-left: 10px;
      border: none;
      border-radius: 3px;
      outline: none;
      padding: 5px;
      background-color: $color-main;
      transition: all 0.3s ease;

      &:hover {
        background-color: $color-main;
      }
    }

    .user__button--delete {
      background-color: $color-delete;

      &:hover {
        background-color: $color-delete-active;
      }
    }
  }

}