// Background
$color-background-dark: #2d2d2d;
$color-background-light: #сссссс;

$color-black: #000000;
$color-main: rgb(255, 255, 255);

// Links
$color-link-hover: rgb(158, 0, 255);
$color-link-active: rgb(143, 0, 229);

// Buttons
$color-favourite: rgba(0, 247, 255, 0.6);
$color-favourite-hover: rgb(0, 247, 255);

$color-edit: rgba(0, 255, 82, 0.6);
$color-edit-hover: rgb(0, 255, 82);

$color-back: rgba(255, 171, 0, 0.6);
$color-back-hover: rgb(255, 171, 0);

$color-delete: rgba(255, 0, 0, 0.50);
$color-delete-hover: rgb(255, 0, 0);