@import 'reset';
@import 'variables';
@import './components/header';
@import './components/sidebar';
@import './components/usersList';
@import './components/user';
@import './components/userAddFormHook';
@import './components/favourites';
@import './components/favouriteUser';
@import './themes';

body {
  font-family: Roboto, sans-serif;
}

.app__container {
  display: grid;
  grid-template-rows: 50px 2fr 100px;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 'h h' 's c' 'f f';
  transition: all 1s ease;
}

.app__content {
  grid-area: c;
}