@import 'reset';
@import 'variables';
@import './components/header';
@import './components/sidebar';
@import './components/usersList';
@import './components/user';
//@import './components/userAddForm';
@import './components/_userAddFormHook.scss';

body {
  font-family: Roboto, sans-serif;
  background-color: $color-grey;
}

.app__container {
  display: grid;
  grid-template-rows: 50px 2fr 100px;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 'h h' 's c' 'f f';
}

.app__content {
  grid-area: c;
}